.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  background-color: #282c34;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1vmin;
  font-size: 1.5em;
  margin: 1vmin;

}

.App-header {
  background-color: #282c34;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


nav {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #282c34;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 1;
}

nav a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-size: 40px;
}

.top {
  margin-top: 60px;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glasses {
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-flow: wrap;
  margin: 5vmin;

}

.glasses img {
  height: 8vmin;
}

.IndividualGlass:hover, button:hover {
  cursor: pointer;
  transform: scale(1.1);
}


.IndividualGlass {
  padding: 2vmin;
  margin: 2vmin;
  border: 1px solid black;
  border-radius: 5px;
  width: 15vmin;
  height: 15vmin;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.selected {
  border: 3px solid black;

}

.bigText {
  font-size: 7vmin;
}

.smallText {
  font-size: 3vmin;
}

.mediumText {
  font-size: 5vmin;
}

.fullCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vmin;
  font-size: 2em;
}

.menuItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vmin;
  font-size: 2em;
}

.ingredientsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vmin;
  font-size: 2em;
}

.drinkName {
  font-size: 1.25em;
  width: 65%;
  text-align: center;
  overflow: auto;
}

.cart-item {
  height: max-content;
}

.cart-item-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1vmin;
  font-size: 3vmin;
  border: 1px solid black;
  height: min-content;
  width: 766px;
}

.customeDrinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vmin;
  font-size: 3vmin;
  border: 1px solid black;
}

@media (max-width: 600px) {

  .IndividualGlass {
    padding: 2vmin;
    margin: 2vmin;
    border: 1px solid black;
    border-radius: 5px;
    width: 15vmin;
    height: 15vmin;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }

  .glasses img {
    height: 10vmin;
  }


}